.ipynb_checkpoints/
.venv/
ironhack_fresh_env/
.env
notebooks/.ipynb_checkpoints/
notebooks/.env
notebooks/.DS_Store
.DS_Store
pyproject 2.toml
pyproject.toml
src/
uv 2.lock
uv.lock
.gitignore.save
.ipynb_checkpoints/
cleaned/cleaned_combined_dataset_density.csv
cleaned/cleaned_combined_dataset_filtered.csv
cleaned/cleaned_combined_dataset_filtered.txt
modified:   ../.DS_Store
*.in
